<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="YAML front matter included file library">
            <directory>tests/Cybits/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Cybits/</directory>
        </whitelist>
    </filter>
</phpunit>
